*{
    margin: 0px;
    padding: 0px;
}   
   
header{   
    background-color: black;
    color: rgb(252, 252, 252);
    font-size: 25px;
    border-bottom: solid 2px red;
    padding: 20px;
}

.chamada{
    display: flex;
    justify-content: center;
    background-color: black;
}