* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(2, 8, 3);
    color: rgb(214, 38, 15);
    font-size: 25px;
    border-bottom: solid 2px red;
    padding: 20px;
}

.chamada {
    display: flex;
    justify-content: center;
    background-color: rgb(119, 4, 110);
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.boasvindas{
    background-color: red;
}