*{
    margin: 0px;
    padding: 0px;
}   
   
header{   
    background-color: rgb(15, 146, 70);
    color: rgb(10, 1, 1);
    font-size: 25px;
    border-bottom: solid 2px red;
    padding: 20px;
}

.chamada{
    display: flex;
    justify-content: center;
    background-color: black;
}j